{% extends 'base.html.twig' %}
{%  block title %} Dashbord {%  endblock %}
{% block body %}

<br>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Accueil</h1>

    <br>
    <a href="{{ path('fos_user_security_login') }}"><button type="button" class="btn btn-primary btn-lg">Register</button></a>
    <a href="{{ path('fos_user_registration_register') }}"><button type="button" class="btn btn-secondary btn-lg">Log In</button></a>



  </div>
</div>
{% endblock %}