{% extends 'base.html.twig' %}
{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Inscription</h1>
    <br>

    <div row justify>
  	<div class="form-group" rows="5">
  		<label for="usr">Name:</label>
  		<input type="text" class="form-control" id="usr">
  	</div>
  	<div class="form-group">
  		<label for="pwd">Password:</label>
  		<input type="password" class="form-control" id="pwd">
  	</div> 
  	  	<div class="form-group">
  		<label for="pwd">Confirm:</label>
  		<input type="password2" class="form-control" id="pwd2">
  	</div> 
  	  	<div class="form-group">
  		<label for="pwd">email:</label>
  		<input type="email" class="form-control" id="mail">
  	</div> 
  	  	  	<div class="form-group">
  		<label for="pwd">Confirm:</label>
  		<input type="email2" class="form-control" id="mail2">
  	</div> 
	</div>

  	<div><button type="button" class="btn btn-primary">Envoyer</button>
   	</div>

  </div>
</div>


{% endblock %}