{% extends 'base.html.twig' %}
{% block body %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Inscription</h1>
    <br>

    <div row justify>
		{{ form(form) }}
  	<div class="form-group" rows="5">



  </div>
</div>


{% endblock %}