{% extends 'base.html.twig' %}
{% block body %}

<br>




<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Espace Membre</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
    	<div class="card">
		  <img class="card-img-top" id="icoProfil">
		  <div class="card-body">
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		</div>
    </div>
    <div class="col-md-9">
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Informations personnelles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mes offres</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Statistiques</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>






{% endblock %}