{% extends 'base.html.twig' %}
{% block body %}

<br>




<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Utilisateur</h1>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-3">
    	<div class="card text-white bg-primary mb-3">
		  <img class="card-img-top" id="icoProfil">
		  <div class="card-body">
		    <p class="card-text"></p>
		  </div>
		</div>
    </div>
    <div class="col-md-9">
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#">Informations personnelles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mes offres</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Statistiques</a>
            </li>
          </ul>
        </div>

        <div class="card-body">
          <div class="card-body">
            <p class="card-text">
                {{ user.username }}<br/>
                {{ user.email }} <br/>
                {%  for role in user.Roles %}
                  {{ role }}<br/>
                {% endfor %}
            </p>

        </div>



      </div>
      </div>
    </div>
  </div>
</div>






{% endblock %}