{% extends 'base.html.twig' %}
{% block body %}

<br>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Resultats de la recherche : </h1>
    </div>
  </div>

  <br>

  <div class="row">
  	<div class="col-md-12">
  		<div class="card">
		  <div class="card-body">
		    <h5 class="card-title">Votre recherche :  </h5>
		    <p class="card-text">Poste : </p>
		    <p class="card-text">Localisation : </p>
		    <a href="#" class="btn btn-primary">Recommencer</a>
		  </div>
		</div>
  	</div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-3">
    	<div class="list-group">
		  <button type="button" class="list-group-item list-group-item-action active">
		    <span class="nomPoste">Développeur Android</span>
		    <span class="localisationPoste">DIJON</span>
		  </button>
		  <button type="button" class="list-group-item list-group-item-action">
		  	<span class="nomPoste">Développeur Web</span>
		  	<span class="localisationPoste">BEAUNE</span>
		  </button>
		  <button type="button" class="list-group-item list-group-item-action">
		  	<span class="nomPoste">Chef de projet</span>
		  	<span class="localisationPoste">BESANCON</span>
		  </button>
		  <button type="button" class="list-group-item list-group-item-action">
		  	<span class="nomPoste">Automaticien</span>
		  	<span class="localisationPoste">NANCY</span>
		  </button>
		  	<button type="button" class="list-group-item list-group-item-action">
		  	<span class="nomPoste">Caissier</span>
		  	<span class="localisationPoste">DIJON</span>
		  </button>
		</div>
    </div>
    <div class="col-md-9">
    	<div id="mapid">

    	</div> 
    </div>
  </div>

  <br>


  <div class="row">
  	<div class="col-md-12">
  		<div class="accordion" id="accordion">
			  <div class="card">
			    <div class="card-header" id="headingOne">
			      <h5 class="mb-0">
			        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          Information sur l'entreprise
			        </button>
			      </h5>
			    </div>

			    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
			      <div class="card-body">
				      <ul>
				      	<li>Nom de l'entrprise : </li>
				      	<li>Localisation : </li>
				      	<li>Chiffre d'affaire : </li>
				      	<li>Nombre d'employés : </li>
				      	<li>Site officiel : </li>
				      </ul>
			      </div>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-header" id="headingTwo">
			      <h5 class="mb-0">
			        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          Informations sur le poste concerné
			        </button>
			      </h5>
			    </div>
			    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
			      <div class="card-body">
			        <ul>
				      	<li>Nom du poste : </li>
				      	<li>Type de contrat : </li>
				      	<li>Durée mission : </li>
				      	<li>Salaire : </li>
				      	<li>Missions : </li>
				      </ul>
			      </div>
			    </div>
			  </div>
			  <div class="card">
			    <div class="card-header" id="headingThree">
			      <h5 class="mb-0">
			        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			          Contacter l'entreprise
			        </button>
			      </h5>
			    </div>
			    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
			      <div class="card-body">
			        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			      </div>
			    </div>
			  </div>
		</div>
  	</div>
  </div>
</div>



<!----------------------------------- JS POUR LEAFLET -------------------------------------------->

<script type="text/javascript">

	<!-- INIT DE LA MAP -->
  	var mymap = L.map('mapid').setView([51.505, -0.09], 13);

  	<!-- CHARGEMENT DE LA MAP DEPUIS UNE API GRATUITE -->
  	L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
              attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors', maxZoom: 18}).addTo(mymap);

    <!-- POSITION DES MARKER -->
  	var marker = L.marker([51.5, -0.09]).addTo(mymap);

	<!-- PLACEMENT DES MARKER ET MESSAGES -->
  	marker.bindPopup("<b>Hey !</b><br>Il y a du boulot ici.").openPopup();
</script>






{% endblock %}