{% extends 'base.html.twig' %}
{% block body %}

<br>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Accueil</h1>
    <p class="lead">Bienvenue sur le célèbre Jobinder !</p>
    <p class="lead">Envie de matcher avec une entreprise ? Ce site est fait pour toi !</p>
    <br>
    <button type="button" class="btn btn-primary btn-lg"><a href="#">Se connecter / Changer de compte</a></button>
	<button type="button" class="btn btn-secondary btn-lg"><a href="#">Page admin</a></button>
	<button type="button" class="btn btn-secondary btn-lg"><a href="#">Page utilisateur</a></button>
  </div>
</div>







{% endblock %}