body{
    background-color: rgba(249, 249, 249, 0.95);

}


.navbar-custom {
    background-color: #0081e0;
}

.navbar a{
    color: #ffffff;
}


.dropdown-menu a{
      color: black;
}

.btn a{
  color: #ffffff;
}





#icoProfil{
    background-image: url(../images/blankprofil.png)!important;
    background-size: cover;
    height: auto;
    min-height: 220px;
    background-repeat: no-repeat;
}






.localisationPoste{
	font-style: italic;
}

.nomPoste{
	font-weight: bold;
}










#mapid{ 
	height: 180px; 
}