body{
    background-color: rgba(249, 249, 249, 0.95);

}


.navbar-custom {
    background-color: #0081e0;
}

.navbar a{
    color: #ffffff;
}


.dropdown-menu a{
      color: black;
}

.btn a{
  color: #ffffff;
}





#icoProfil{
    background-image: url(../images/blankprofil.png)!important;
    background-size: cover;
    height: auto;
    min-height: 220px;
    background-repeat: no-repeat;
}






.localisationPoste{
	font-style: italic;
}

.nomPoste{
	font-weight: bold;
}










#mapid{ 
	height: 280px; 
	width: 100%;
}

#mapcesi{ 
	height: 200px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10px;
}










footer{
	background-color: #d4d4d4;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    padding-top: 10px;
}