body{
    background-color: rgba(249, 249, 249, 0.95);

}


.navbar-custom {
    background-color: #0081e0;
}

.navbar a{
    color: #ffffff;
}


.dropdown-menu a{
      color: black;
}

.btn a{
  color: #ffffff;
}