{% extends 'base.html.twig' %}
{%  block title %} Users {%  endblock %}
{% block body %}
    <div class="container">
        <h2>The all users</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
        {% for x in data %}
            <tr>
                <td>{{ x.Id }}</td>
                <td>{{ x.Username }}</td>
                <td>{{ x.Email }}</td>

            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}